<% if user_signed_in? %>
  <%=  link_to 'New Article', new_article_path, class: 'btn btn-default btn-large', id: 'new-article-btn' %>
<% end %>


<% if @articles.blank?%>
    <h1 id="no-articles">
      No articles created
    </h1>
<% else %>
    <% @articles.each do |article| %>
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to article.title, article_path(article) %>
          </div>

          <div class="article-body">
            <%= truncate(article.body, length: 100) %>
          </div>

          <div class="author">
            <small>Created by: <%= article.user.email %></small>
          </div>
        </div>
    <% end %>
<% end %>

