<header role="banner">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Athletes Den", root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-collpase" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to "Home", root_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><%= link_to "Sign up", new_user_registration_path %></li>
          <li class="nav-item"><%= link_to "Sign in", new_user_session_path %></li>
          <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% if user_signed_in? %>
              <div class="navbar-right">
                <p class="navbar-text">
                  Signed in as <%= "#{current_user.email}" %>
                </p>
              </div>
          <% end %>
        </ul>
      </div>



    </div>
  </nav>
</header>