<div class="container">
  <div class="row">
    <div class="col-md-12">

      <% flash.each do |key, message| %>
          <div class="text-center alert alert-<%= key == 'notice'?'success' : 'danger' %>">
            <%= message %>
          </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>