@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  backgorund: #e1e1e1;
  color: #64103F;
}


.navbar{
  background: #64103F;
  padding-bottom: 20px;
}

.navbar-default .navbar-brand{
  padding-top: 25px;
  font-size: 150%;
  font-weight: bold;
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #ff0000;
}

.navbar-default{
  border: #64103F;
}

.navbar-nav{
  padding-top: 10px;
  padding-right: 20px;
}

.navbar-default .navbar-nav li > a {
  font-weight: bold;
  font-size: 130%;
  color: #ffffff;
}


.navbar-default .navbar-nav li > a:hover {
  color: #ff0000;
}

.page-heading, div > label{
  color: #64103F;
}



.article-title{
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.8em;
  padding-left: 0.7em;
}

.article-body{
  font-size: 1.5em;
  padding-left: 1.2em;
  color: #64103F;
}


.author{
  color: #64103F;
  padding-left: 25px;

}


.article-detail{
  margin-top: 20px;
  color: #0000ff;
}


.article-detail-title{
  font-size: 3em;
  margin-bottom: 40px;
}


.article-show-body{
  font-size: 1.5em;
  padding-left: 0em;
  margin-top: 15px;
}


.edit-delete{
  margin-top: 20px;

}

.sign-link a{
  color: #64103F;
}

#error_explanation{
  background-color: #f2dede;
  color: #a94442;
  text-align: left;
  padding: 5px 20px;
  margin-bottom: 30px;
}

#error_explanation h2{
  font-size: 150%;
}


footer {
  color: #64103F;
}